.cardarea {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card {
  border: 1px solid yellowgreen;
  padding: 10px;
}
.card img {
  max-width: 80%;
  height: auto;
}

.visit {
  background-color: darkorange;
  color: black;
}
